.hotels_main_page{
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    justify-content:space-between;
    gap: 30px;
    margin-bottom: 100px;

}
.hotels_container{
    box-shadow: 9px 6px 60px 0px rgba(34, 60, 80, 0.2);
    border-radius: 30px;
    width: 470px;
}

.hotels_container button {
    width: 90%;
    margin: 0 0 20px 5%;
    background: #D7262E;
    color: white;
    border-radius: 20px;
    height: 40px;
    font-size: 18px;
    border: none;
    cursor: pointer;

    &&:hover{
        opacity: 90%;
    }

    &&:active{
        opacity: 80%;
    }
}


.hotels_image{
    width: 470px;
    height: 377px;

}

.hotels_image img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.hotels_text_container{
    display: flex;
    justify-content: space-between;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #2F6F8F;
}
.hotels_text_name{
    padding: 0 10px ;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #2F6F8F;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hotels_price{
    padding: 0 10px;
}
.hotels_text{
    width: 390px;
    height: 100px;
    padding: 0px 0px 15px 15px;
    text-align: left;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #2F6F8F;
}
