.ModalWindowBlur{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(110, 116, 145, 0.49);
    cursor: pointer;
    z-index: 100;
}

.ModalWindow {
    width: 60%;
    height: 70vh;
    background: white;
    margin: 6% auto;
    cursor: default;
}

.closeBtn {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 95.5%;
    font-family: "Pattaya", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.closeBtn svg {
    cursor: pointer;
    font-size: 30px;
    color: #2F6F8F;
    font-family: "Pattaya", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    text-align: center;
    color: #2F6F8F;
    font-family: "Pattaya", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    color: #d7262e;
    font-family: "Pattaya", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Button{
    height: 52px;
    margin-top: -1px;
    background: #2F6F8F;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 295px;
    font-family: "Pattaya", sans-serif;
    font-weight: 400;
    font-style: normal;

    &&:hover{
        opacity: 90%;
    }

    &&:active{
        opacity: 80%;
    }
}