.inputContainer{
    display: flex;
    position: relative;
}

.inputContainer input {
    /*width: 250px;*/
    /*height: 30px;*/
    padding-left: 40px;
    font-size: 20px;
    outline: 1px solid #7C8DB0;
    border: none;
    color: #605DEC;

    &&:focus {
        outline: 1px solid #605DEC;
    }

    &&::placeholder {
        color: #605DEC;
    }
}

.inputIcon {
    position: absolute;
    /*margin-left: 310px;*/

}

.inputIcon img {
    width: 25px;
    height: 50px;
    margin: auto 5px;
}