header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7C8DB0;
    background: white;
    width: 90%;
    height: 60px;
    position: fixed;
    padding: 0 5%;
    margin: 0 auto;
}

.logo {

}

.navigation{
    display: flex;
    list-style: none;
    gap: 20px;
}

.navigation li {
    cursor: pointer;
    font-weight: 500;
}

.navigation a, span {
    text-decoration: none;
    color: #7C8DB0;
    cursor: pointer;

    &&:hover {
        color: #605DEC;
    }
}